{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'global.css' %}"
    <title> This is a test</title>
    <body> 
        <p> In views.py you can see what the test_members variable looks like.</p>

        <h1> Welcome, {{ basic_details.firstname }} !</h1>

        {% with account_num="384758" %}
        <h2> Your account number is {{ account_num }}</h2>
        {% endwith %}

       <h2>Basic Details</h2>

        <ul>
            <li>Phone: {{ basic_details.phone }}</li>
            <li>Joined Date: {{ basic_details.joined_date }}</li>
        </ul>

        <h3>This is a sample query</h3>
        <table border="1">
            <tr>
                <th> ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Phone </th>
                <th> Joined Date </th>
            </tr>
            {% for x in dummy_data %}
            <tr>
                <td> {{ x.id }} </td>
                <td> {{ x.firstname }} </td>
                <td> {{ x.lastname }} </td>
                <td> {{ x.phone }} </td>
                <td> {{ x.joined_date }} </td>
            </tr>
            {% endfor %}
        </table>

    </body>
    
    {% include 'footer.html' %}
</html> 